.idea/
__pycache__/
/settings/config_Json
controllers/__pycache__
databases/__pycache__
layout/__pycache__
qgis/__pycache__
screens/__pycache__
settings/__pycache__
utils/__pycache__


wfs_layers/TESTE/IDE_ide_1103_mg_municipios_pol.geojson

.vscode/launch.json
.vscode/settings.json
